# Base de Datos (Credenciales Globales para PostgreSQL)
DB_USER=postgres
DB_PASSWORD=secret_password

# Microservicio de IA Cloud (APIs Externas)
GEMINI_API_KEY=tu_gemini_api_key_aqui
GROQ_API_KEY=tu_groq_api_key_aqui

# Microservicio de Mapas / Geoespacial (Ej. Google Maps / Mapbox)
MAPS_API_KEY=tu_maps_key_aqui
