# Base de Datos
DB_USER=postgres
DB_PASSWORD=secret_password
DB_NAME=precios_db

# Microservicio de IA Cloud (Ej. OpenAI)
OPENAI_API_KEY=tu_api_key_aqui

# Microservicio de Mapas / Geoespacial (Ej. Google Maps / Mapbox)
MAPS_API_KEY=tu_maps_key_aqui
